<div th:fragment="content" class="center-content about-us-page">
    <div class="block">
        <h3>О компании</h3>
        <p>
            EasyHost - это новая компания, где собраны настоящие профессионалы своего дела!<br>
            Вы можете доверить нам свой проект, а мы приложим все усилия, чтобы он процветал.<br>
            Наша задача — не просто выполнить задание, но и превзойти Ваши ожидания.
        </p>
    </div>

    <div class="block">
        <h3>Способы оплаты</h3>
        <div class="payment-methods">
            <a href="//visa.com.ru" target="_blank">
                <img src="https://www.easydonate.ru/themes/easydonate/assets/images/payments/visa.svg" class="payment-system" alt="">
            </a>
            <a href="//mastercard.ru" target="_blank">
                <img src="https://www.easydonate.ru/themes/easydonate/assets/images/payments/mastercard.svg" class="payment-system" alt="">
            </a>
            <a href="//mironline.ru" target="_blank">
                <img src="https://www.easydonate.ru/themes/easydonate/assets/images/payments/mir.svg" class="payment-system" alt="">
            </a>
            <a href="//sbp.nspk.ru" target="_blank">
                <img src="https://www.easydonate.ru/themes/easydonate/assets/images/payments/sbp.svg" class="payment-system" alt="">
            </a>
            <a href="//mts.ru" target="_blank">
                <img src="https://www.easydonate.ru/themes/easydonate/assets/images/payments/mts.svg" class="payment-system" alt="">
            </a>
            <a href="//megafon.ru" target="_blank">
                <img src="https://www.easydonate.ru/themes/easydonate/assets/images/payments/megafon.svg" class="payment-system" alt="">
            </a>
            <a href="//beeline.ru" target="_blank">
                <img src="https://www.easydonate.ru/themes/easydonate/assets/images/payments/beeline.png" class="payment-system" alt="">
            </a>
            <a href="//tele2.ru" target="_blank">
                <img src="https://www.easydonate.ru/themes/easydonate/assets/images/payments/tele2.svg" class="payment-system" alt="">
            </a>
        </div>
    </div>

    <div class="block">
        <h3>Контакты</h3>
        <p>
            Email: support@easyhost.ru<br>
            Телефон: +1-234-567-890
        </p>
    </div>
</div>
