<div th:fragment="content" class="news-grid">
    <div class="news-card">
        <div class="image-container">
            <span class="news-date">Вчера в 20:30</span>
            <img src="/images/1.jpg" alt="">
        </div>
        <div class="news-content">
            <h4>Запуск нового дата-центра</h4>
            <p>Мы рады объявить о запуске нового высокоскоростного дата-центра!</p>
        </div>
    </div>

    <div class="news-card">
        <div class="image-container">
            <span class="news-date">10 февраля</span>
            <img src="/images/2.jpg" alt="">
        </div>
        <div class="news-content">
            <h4>Киберпонедельник: скидки на все услуги</h4>
            <p>В честь Киберпонедельника мы предлагаем скидки до 10%!</p>
        </div>
    </div>

    <div class="news-card">
        <div class="image-container">
            <span class="news-date">27 января</span>
            <img src="/images/3.jpg" alt="">
        </div>
        <div class="news-content">
            <h4>Новое партнерство</h4>
            <p>EasyHost объявляет о партнерстве с крупнейшей CDN-сетью!</p>
        </div>
    </div>
</div>
