@font-face {
    font-family: 'PermianSansTypeface';
    src: url('/fonts/permian-sans.otf') format('otf');
}

body {
    font-family: 'PermianSansTypeface', sans-serif;
    margin: 0;
    padding: 0;

    user-select: none;
    -webkit-user-select: none; /* Chrome, Safari */
    -ms-user-select: none; /* MS Edge */
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.button,
button {
    border-radius: 12px;
    background: #1a66ff;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 24px;
    cursor: pointer;
    transition: color, background-color, opacity 0.25s ease;
    text-decoration: none;
    text-align: center;
}

.button:hover,
button:hover {
    background-color: #4078e8;
}

.button:active,
button:active {
    opacity: 0.75;
}

.button.dangerous,
button.dangerous {
    background-color: #FF4337;
}

.button.dangerous:hover,
button.dangerous:hover {
    background-color: #d8493e;
}

.button.floating,
button.floating {
    aspect-ratio: 1;
    background-color: transparent;
    border: none;
    padding: 0;
    opacity: 0.5;
    max-width: 24px;
    width: 24px;
}

.button.floating:hover,
button.floating:hover {
    opacity: 1;
}

.button.floating:active,
button.floating:active {
    opacity: 0.75;
}

.selectable {
    user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    cursor: default;
    background-color: #1a66ff;
    color: white;
    padding: 15px;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header img.logo {
    aspect-ratio: 1;
    margin-right: 24px;
    height: 80px;
}

footer p {
    padding: 24px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav a {
    color: rgba(255, 255, 255, 0.75);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    transition: color, background-color, opacity 0.25s ease;
}

nav a:hover,
nav a.active {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

nav a.active {
    pointer-events: none;
    cursor: default;
}

nav a:focus {
    opacity: 0.75;
}

nav .login-item {
    position: absolute;
    right: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    flex: 1;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.news-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
}

.news-card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    overflow: hidden;
    width: 100%;
}

.news-card .image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    opacity: 0.75;
    border-bottom: rgba(0, 0, 0, 0.25) solid 1px;
}

.news-card .image-container img.cover {
    object-fit: cover;
    width: 100%;
    max-height: 30vh;
    display: block;
}

.news-date {
    display: inline-flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    font-size: 12px;
    color: white;
    padding: 2px 8px 2px 4px;
    border-radius: 50px;
}

.news-date.floating {
    position: absolute;
    top: 10px;
    left: 10px;
}

.news-card .news-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    padding: 20px;
}

.news-card .news-content .title-box {
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.news-card .news-content .title-box span {
    display: inline-flex;
    align-items: center;
}

.news-card .news-content .actions-box {
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.news-card .news-content .actions-box a {
    display: block;
    align-items: center;
}

.news-card .news-content h4,
.news-card .news-content p {
    text-align: start;
    white-space: pre-line;
}

.teachers-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 24px;
}

.teachers-grid .teacher-card {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    gap: 16px;
    padding: 20px;
    flex: 1 1 calc(33.333% - 16px);
    max-width: calc(33.333% - 16px);
}

.teachers-grid .teacher-card .avatar {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1;
    height: 200px;
}

.teachers-grid .teacher-card .avatar img {
    box-sizing: border-box;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    aspect-ratio: 1;
    height: 200px;
}

.crud-panel .teachers-grid .teacher-card .avatar,
.crud-panel .teachers-grid .teacher-card .avatar img {
    height: 150px;
}

.teachers-grid .teacher-card .main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: start;
    gap: 8px;
    width: 100%;
}

.teachers-grid .teacher-card .actions-box,
form .actions-box {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.teachers-grid .teacher-card .actions-box .button,
form .actions-box .button {
    width: 100%;
}

.about-us-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 850px;
    width: 100%;
    gap: 24px;
}

.about-us-page .contacts {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    gap: 24px;
}

.about-us-page .contacts .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    flex: 1 1 calc(50% - 12px);
    max-width: calc(50% - 12px);
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    overflow: hidden;
    padding: 12px;
}

.about-us-page .contacts .block .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
}

.about-us-page .contacts .block .content p {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

input {
    font-family: inherit;
}

input[type=number] {
    -moz-appearance: textfield;
}

textarea {
    font-family: inherit;
    resize: vertical;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    overflow: hidden;
    padding: 24px 36px;
    gap: 24px;
    width: 100%;
    max-width: 100%;
}

form input,
form select,
textarea {
    box-sizing: border-box;
    padding: 12px 18px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    overflow: hidden;
    font-size: 16px;
    background-color: #fff;
}

form input:focus,
form select:focus,
textarea:focus {
    border-color: #1a66ff;
    outline: none;
}

form select {
    appearance: none;
    cursor: pointer;
}

form label.required::after {
    content: " *";
    color: red;
    font-weight: bold;
}

form .form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

form .form-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.annotation {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    gap: 12px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.10);
    color: rgba(255, 255, 255, 0.75);
    padding: 10px;
}

.annotation.error {
    background: rgba(255, 67, 55, 0.15);
    color: rgb(255, 67, 55);
}

.login-page {
    max-width: 450px;
}

.crud-panel {
    width: 100%;
}

.crud-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
}

.crud-form form {
    max-width: 600px;
    width: 100%;
}

.error-page {
    margin-top: 24px;
    gap: 18px;
}

.crud-panel {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 16px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
