<div th:fragment="content" class="center-content about-us-page">
    <div class="block">
        <h3>Об институте</h3>
        <p>
            Основной задачей ИКНТ является создание условий для получения знаний,
            позволяющих нашим выпускникам найти направление деятельности в большом
            мире информационных технологий и полностью раскрыть свой интеллектуальный потенциал.
        </p>
    </div>

    <div class="contacts">
        <div class="block">
            <h3>Контакты</h3>
            <div class="content">
                <p><img class="icon" th:src="@{/icons/map_marker.svg}">г. Пермь, ул. Генкеля, корп. 8, ауд. 410</p>
                <p><img class="icon" th:src="@{/icons/phone.svg}">7 (342) 239-67-20</p>
                <p><img class="icon" th:src="@{/icons/mail.svg}">iknt@psu.ru</p>
            </div>
        </div>
        <div class="block">
            <h3>По вопросам поступления</h3>
            <div class="content">
                <p><img class="icon" th:src="@{/icons/map_marker.svg}">г. Пермь, ул. Дзержинского, корп. 5, ауд. 229</p>
                <p><img class="icon" th:src="@{/icons/phone.svg}">7 (342) 215-16-14</p>
                <p><img class="icon" th:src="@{/icons/mail.svg}">ict_pk@psu.ru</p>
            </div>
        </div>
    </div>
</div>
