<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pageTitle ?: 'EasyHost - Админ'}">EasyHost - Админ</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <header>
        <div class="brand">
            <img class="logo" th:src="@{/icons/logo.svg}" alt="logo">
            <h1>EasyHost</h1>
        </div>
        <div class="badges">
            <p class="badge">Панель администрирования</p>
        </div>
    </header>
    <nav>
        <a th:href="@{/admin/products}" th:classappend="${page == 'products'} ? 'active' : ''">Доступные услуги</a>
        <a th:href="@{/admin/orders}" th:classappend="${page == 'orders'} ? 'active' : ''">Список заказов</a>
        <a th:href="@{/logout}" class="login-item">Выход</a>
    </nav>
    <main>
        <div class="page-content">
            <div th:replace="~{${content}}"></div>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 EasyHost - Все права защищены.</p>
    </footer>
</div>
<script th:src="@{/js/main.js}"></script>
</body>
</html>
