<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pageTitle ?: 'EasyHost'}">EasyHost</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <header>
        <div class="brand">
            <img class="logo" th:src="@{/icons/logo.svg}" alt="logo">
            <h1>EasyHost</h1>
        </div>
        <div class="badges">
            <p class="badge">Выделенные серверы</p>
            <p class="badge">VDS / VPS</p>
            <p class="badge">Веб-хостинг</p>
        </div>
    </header>
    <nav>
        <a th:href="@{/news}" th:classappend="${page == 'news'} ? 'active' : ''">Новости</a>
        <a th:href="@{/catalog}" th:classappend="${page == 'catalog'} ? 'active' : ''">Каталог услуг</a>
        <a th:href="@{/about-us}" th:classappend="${page == 'about-us'} ? 'active' : ''">О нас</a>
    </nav>
    <main>
        <div class="page-content">
            <div th:replace="~{${content}}"></div>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 EasyHost - Все права защищены.</p>
    </footer>
</div>
<script th:src="@{/js/main.js}"></script>
</body>
</html>
